# Build output
/build/
/out/
/target/
/bin/


# Caches
.cache/

# Eclipse, Intellij IDEA, and Sublime Text project configs
/.settings/
/.project
/.classpath
/.buildpath
/.gradle
/build
/.nb-gradle
/classes
/.idea/
*.iml
*.ipr
*.iws
*.ids
*.sublime-project
*.sublime-workspace


# OS and various viewers garbage
Thumbs.db
.DS_Store
